.hero-banner {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  background: #1f2a3a;
  color: white;

  background-image: url(../images/banner-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @include media-down(tablet) {
    height: 107.1rem;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;

    background: linear-gradient(
      260.32deg,
      rgba(137, 144, 165, 0.3) 9.04%,
      rgba(48, 56, 77, 0.9) 64.33%
    );
  }

  .hero-bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .35;
    }
  }
  .hero-inner {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .hero-content {

    h1 {
      @extend %o-header--h1;
      color: $interface-white;
      font-family: family(secondary);
      font-weight: weight(light);
      letter-spacing: 0.01em;
    }

    p {
      @extend %o-body-text;
      color: $interface-white;
      font-weight: weight(light);
      letter-spacing: -0.02em;
      padding-top: 2rem;
    }

    .hero-buttons {
      display: flex;
      align-items: center;
      gap: 3.2rem;
      margin-top: 3.2rem;

      @include media-down(tablet) {
        margin-top: 2.6rem;
      }
    }
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .btn-primary {
    background: white;
    color: #1f2a3a;
    padding: 14px 22px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
  }

  .btn-secondary {
    color: white;
    text-decoration: none;
  }
  .hero-image {
    position: absolute;
    right: 0;
    bottom: -5px;
    z-index: 2;

    width: 50%;
    text-align: right;

    @include media-down(tablet) {
      width: 100%;
    }

    img {
      max-width: 100%;
    }

    .hero-ellipse {
      position: absolute;
      right: 0;
      top: -56rem;
      z-index: -1;

      width: 1450px;
      height: 1452px;
      transform-origin: center;
    }
  }

}
@media (min-width: 768px) {

  .hero-banner {

    .hero-buttons {
      flex-direction: row;
    }

  }

}
@media (min-width: 992px) {

  .hero-banner {

    .hero-inner {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .hero-content {
      width: 48%;
    }

    .hero-image {
      width: 50%;
      text-align: right;
    }

  }

}
