.services {
  position: relative;
  overflow: hidden;
  padding: 100px 0;

  color: #fff;

  background:
    url('../images/service-bg.jpg') center / cover no-repeat;

  @include media-down(tablet) {
    padding: 7.4rem 0 8.5rem;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
      197.94deg,
      rgba(137, 144, 165, 0.3) -34.85%,
      rgba(48, 56, 77, 0.95) 63.78%
    );
  }
  .container {
    position: relative;
    z-index: 1;

    display: flex;
    gap: 14.1rem;

    @include media-down(tablet) {
      flex-wrap: wrap;
      gap: 7rem;
    }

    .services__left {
      width: 37%;
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      @include media-down(tablet) {
        width: 100%;
      }

      .services__tag {
        @extend %o-header--h3;
        color: $interface-white;
        font-weight: weight(light);
        letter-spacing: -0.02em;
      }

      .services__title {
        @extend %o-header--h2;
        color: $interface-white;
        font-family: family(secondary);
        font-weight: weight(light);
        letter-spacing: 0.01em;
        margin: 0;
      }

      .services__desc {
        @extend %o-body-text;
        color: $interface-white;
        font-weight: weight(light);
      }

      .services__highlight {
        display: flex;
        gap: 3.4rem;

        @extend %o-header--h5;
        color: $interface-white;
        font-family: family(secondary);
        font-weight: weight(light);

        @include media-down(tablet) {
          flex-direction: column;
        }

        .line {
          width: 6.5rem;
          height: 1px;
          background: #d9a441;
          margin-top: 10px;
        }
      }
    }

    .services__right {
      width: 63%;

      @include media-down(tablet) {
        width: 100%;
      }
    }

  }
  .service-item {

    display: flex;
    gap: 20px;
    margin-bottom: 3rem;

    opacity: 0;
    .service-item__icon {
      width: 40px;
      height: 40px;
      font-size: 4rem;
    }

    .service-item__content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .service-title {
        @extend %o-header--h3;
        color: $interface-white;
        font-family: family(secondary);
        font-weight: weight(light);
        letter-spacing: -0.02em;
      }

      p {
        @extend %o-body-text;
        color: $interface-white;
        font-weight: weight(light);
      }

      .o-button-link {
        i {
          color: $interface-yellow;
          border-color: $interface-yellow;
        }
      }
    }
  }

}
@media (min-width: 992px) {

  .services__wrapper {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

}
