$font-size-zero: 0;
$font-size-base: 62.5%;

$font-family: (
  primary: #{"Poppins"},
  secondary: #{"Merriweather"},
  icon: #{'icomoon'},
);

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1hfi9j');
  src:  url('../fonts/icomoon.eot?1hfi9j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1hfi9j') format('truetype'),
    url('../fonts/icomoon.woff?1hfi9j') format('woff'),
    url('../fonts/icomoon.svg?1hfi9j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appeal:before {
  content: "\e905";
}
.icon-estate:before {
  content: "\e906";
}
.icon-family-law:before {
  content: "\e907";
}
.icon-linkedin-2:before {
  content: "\e901";
}
.icon-twitter-2:before {
  content: "\e902";
}
.icon-facebook-2:before {
  content: "\e903";
}
.icon-right-arrow:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e900";;
}



$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  extraboldblack: 900,
);

$font-size: (
  title: (
    h1: 7.2rem,
    h1-desktop: 7rem,
    h1-laptop-large: 6rem,
    h1-laptop: 5rem,
    h1-tablet-large: 4rem,
    h1-tablet: 3rem,
    h1-mobile: 3.6rem,
    h2: 4.8rem,
    h2-desktop-large: 4.5rem,
    h2-desktop: 4rem,
    h2-laptop: 3rem,
    h2-tablet: 3.6rem,
    h2-mobile: 3.6rem,
    h3: 3.6rem,
    h3-desktop: 3rem,
    h3-laptop: 2.8rem,
    h3-tablet-large: 2.4rem,
    h3-tablet: 2rem,
    h4: 3.6rem,
    h4-desktop: 2.6rem,
    h4-tablet: 2rem,
    h5: 2.4rem,
    h5-tablet: 2rem,
  ),
  subtitle: (
    large: 3rem,
    large-tablet: 2rem,
    medium: 2.8rem
  ),
  body:
    (
      text: 2rem,
    ),
);

$line-height: (
  title: (
    h1: 9rem,
    h1-desktop: 8rem,
    h1-laptop-large: 7rem,
    h1-laptop: 6rem,
    h1-tablet-large: 5rem,
    h1-tablet: 4rem,
    h1-mobile: 4.4rem,
    h2: 6rem,
    h2-desktop-large: 6.5rem,
    h2-desktop: 5rem,
    h2-laptop: 4.5rem,
    h2-tablet: 4.6rem,
    h2-tablet-large: 3.6rem,
    h2-mobile: 4.6rem,
    h3: 4.6rem,
    h3-desktop: 4rem,
    // h3-desktop: 4.5rem,
    h3-laptop: 3.8rem,
    h3-tablet-large: 3.4rem,
    h3-tablet: 3.2rem,
    h4: 3.2rem,
    h4-desktop: 3.4rem,
    h4-tablet: 2.6rem,
    h5: 3.2rem,
    h5-tablet: 2.6rem,
  ),
  body:
    (
      text: 3rem,
    ),
);

@mixin font($family: null, $type: null, $size: null, $weight: null) {
  @if $family {
    font-family: family($family);
  }
  @if $type and $size {
    font-size: map-get(map-get($font-size, $type), $size);
  }
  @if $weight {
    font-weight: weight($weight); 
  }
}

@function weight($key) {
  @if map-has-key($font-weight, $key) {
    @return map-get($font-weight, $key);
  }
  @warn 'Unknown `#{$key}` in $font-weight.';
  @return null;
}

@function family($key) {
  @if map-has-key($font-family, $key) {
    @return map-get($font-family, $key);
  }
  @warn 'Unknown `#{$key}` in $font-family.';
  @return null;
}

@function size($key, $value) {
  @if map-has-key($font-size, $key) {
    @return map-get(map-get($font-size, $key), $value);
  }
  @warn 'Unknown `#{$key}` in $font-size.';
  @return null;
}

@function lineheight($key, $value) {
  @if map-has-key($line-height, $key) {
    @return map-get(map-get($line-height, $key), $value);
  }
  @warn 'Unknown `#{$key}` in $line-height.';
  @return null;
}
